@using Microsoft.AspNetCore.Hosting
@using BlazorMeetup.Shared
@using BlazorMeetup.Pages
@using BlazorMeetup.Data
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlazorMeetup</title>
</head>
<body>
        <main role="main" 
            <component type="typeof(MainLayoutRazorPages)" render-mode="ServerPrerendered" />
            @RenderBody()
        </main>
    <footer >
        <div >
            &copy; 2021 - BlazorMeetup - <a asp-area= asp-page="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
