@using Microsoft.AspNetCore.Identity
@using BlazorMeetup.Data;
@inject SignInManager<Attendee> SignInManager
@inject UserManager<Attendee> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Login With Discord</a>
        </li>
    }
</ul>
