@using BlazorMeetup.Data
@inject SignInManager<Attendee> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul>
    <li><a id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
