@tailwind base;
@tailwind components;
@tailwind utilities;

table{
    @apply table-auto mt-2;
}

th{
    min-width: 200px;
    text-align: left;
    @apply mb-2;
}


.navlink {
    @apply font-sans text-lg mb-4 p-3 hover:text-blue-200 transition;
}

html{
    background-color: lightgray;
}

#NavMenu-Div{
    background-color:lightgray;
}

#application-name{
    @apply mb-10 p-5 border-blue-400 bg-blend-luminosity bg-blend-color-burn  bg-blue-600;

}

#link-bar{
  background: linear-gradient(90deg, #38BDF8 0%, #38BDF8 100%); 
    color: #dae1ed;
}

body {
    @apply p-0 w-auto;
}

button {
    @apply mt-4 border-blue-100 bg-blue-400 text-blue-600 hover:bg-blue-600 hover:text-blue-800 hover:border-blue-300 p-3 transition m-1;
}

button.tab-button{
   border-radius: 10px 10px 0 0;
   @apply p-0 px-2 h-auto m-0 border-blue-600;
}

.team {
    @apply w-48 h-1/4 mr-5;
}

.teams-collection{
    @apply flex h-screen justify-start;
}

.attendees{
    @apply flex m-1 ml-2;
}

.attendees *{
    @apply flex justify-start align-middle mr-2;
}

.avatar{
    @apply rounded-full h-5 w-5 border-blue-100 bg-no-repeat;
}

tr{
    @apply cursor-pointer;
}

.lg-avatar{
    @apply rounded-full h-16 w-16 border-blue-100 bg-no-repeat;
}

.form-item{
    @apply flex justify-between;
}

.form-item input{
    @apply w-48;
}

.form-item label{
    @apply text-right w-28 mr-5;
}

form{
    width: fit-content;
}