@page "/AssignTeams/{EventId}"

<h3>AssignTeams</h3>

<CascadingValue Value="this">
    <h3>Create Event</h3>

    <TabControl >
        <TabPage Text="Create Teams" >
           <EditForm OnInvalidSubmit="@OnSubmit">
               <InputText placeholder="Name of Team">
               <button>Create Team</button>
           </EditForm>
        </TabPage>

        <TabPage Text="Assign Users">
           
        </TabPage>
    </TabControl>
</CascadingValue>



@code {
    [Parameter]
    public string EventId { get; set; }

}
