@page "/AddAvatar/{TeamId}"

@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment env
@inject UserManager<Attendee> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject MeetupService MeetupService


<CascadingValue Value="this">
    <h3>Create Event</h3>

    <TabControl>
        <TabPage Text="Upload Avatar">
            <UploadAvatar TeamId=@TeamId />
        </TabPage>

        <TabPage Text="Center and adjust avatar">
            <EditAvatar TeamId=@TeamId />
        </TabPage>

    </TabControl>
</CascadingValue>


@code {

    [Parameter]
    public string TeamId { get; set; }



}
