@page "/AssignTeams/{EventId}"
@inject MeetupService MeetupService

<h3>AssignTeams</h3>

<CascadingValue Value="this">
    <h3>Create Event</h3>

    <TabControl>
        <TabPage Text="Create Teams">
            <EditForm Model="team" OnValidSubmit="@OnSubmit">
                <InputText @bind-Value="@team.Name" placeholder="Name of Team" />

                <button>Create Team</button>
            </EditForm>
            @foreach (Team t in Teams)
            {
                <div>@t.Name</div>
            }
        </TabPage>

        <TabPage Text="Assign Users">
            <AssignTo />
        </TabPage>
    </TabControl>
</CascadingValue>



@code {
    [Parameter]
    public string EventId { get; set; }
    public List<Team> Teams { get; set; }
    public Team team;
    public Event e { get; set; }

    protected override void OnInitialized()
    {
        Teams = MeetupService.GetTeamsByEventId(EventId);
        team = new Team();
        e = MeetupService.GetEventById(EventId);
    }

    public void OnSubmit()
    {
        team.EventId = EventId;
        MeetupService.CreateTeam(team);
        team = new Team();
        Teams = MeetupService.GetTeamsByEventId(EventId);
        StateHasChanged();
    }

}
