@attribute [Authorize]
@inject MeetupService MeetupService
@using BlazorMeetup.Data
@using System.Security.Claims

<CascadingValue Value="this">
    <h3>Create Event</h3>

    <TabControl @ref="@TabControlRef">
        @* @if(EditMode)
        {

        }
        else
        {

        } *@
        <TabPage Text="Main >>">
            <Main ParentEvent="@created" TabControlAcc=@TabControlRef />
        </TabPage>

        <TabPage Text="Date Range >>">
            <DateRange ParentEvent="@created" />
        </TabPage>

        <TabPage Text="Time Range">
            <TimeRange RestrictDateId="@RestrictDateId" />
        </TabPage>
    </TabControl>
</CascadingValue>


@code {

    private Event created = new();
    ClaimsPrincipal User { get; set; }

    public TabControl TabControlRef;
    public string RestrictDateId { get; set; }
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public bool CreateEventIsActive { get; set; }
    public void UpdateCreated()
    {
        created = MeetupService.GetEventById(created.Id);
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            TabControlRef.Pages.ForEach(x => x.IsClickable = false);
            if (Id != null)
            {
                Event e = MeetupService.GetEventById(Id);
                if (e != null)
                {
                    created = e;
                    TabControlRef.EnableClickByString("Date Range >>");
                    TabControlRef.EnableClickByString("Main >>");
                }
            }
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        created.DateAndTime = DateTime.Today;
    }
}
