@inject MeetupService MeetupService

<h3>DateRange</h3>

<EditForm Model="@rd" OnValidSubmit="@OnSubmit">
    <div>
        <label>Add Restricted Date</label>
        <InputDate type="Date" @bind-Value="rd.Date"/>
    </div>
    <button>On Submit</button>
</EditForm>

@foreach(RestrictDate rd in SafeDate.RestrictDates)
{
    <div>@rd.Date</div>
}

@code {
    [Parameter]
    public Event ParentEvent { get; set; }
    public Event SafeDate { get; set; }
    RestrictDate rd { get; set; }

    protected override void OnInitialized()
    {
        SafeDate = ParentEvent;
        rd = new RestrictDate();
        rd.EventId = SafeDate.Id;
    }

    void OnSubmit()
    {
        MeetupService.AddRestrictDate(rd);
        rd = new RestrictDate();
        SafeDate = MeetupService.GetEventById(SafeDate.Id);
        StateHasChanged();
    }

}
