@inject MeetupService MeetupService;
@inject IJSRuntime IJSRunTime

<EditForm Model="@ParentEvent" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-item">
        <label>Description</label>
        <InputText @bind-Value="ParentEvent.Description" />
    </div>
    <div class="form-item">
        <label>Maximum Attendees</label>
        <InputNumber @bind-Value="ParentEvent.MaximumAttendees" />
    </div>
    <div class="form-item">
        <label>Minimum Attendees</label>
        <InputNumber @bind-Value="ParentEvent.MinimumAttendees" />
    </div>
    <div class="form-item">
        <label>Date of Event</label>
        <InputDate @bind-Value="ParentEvent.DateAndTime" />
    </div>

    <button>Create Event</button>
</EditForm>
@code {
    [Parameter]
    public Event ParentEvent { get; set; }
    [Parameter]
    public IdentityUser DbUser { get; set; }
    [CascadingParameter]
    public CreateEvent CreateEventAcc { get; set; }
    [CascadingParameter]
    private TabControl TabControlAcc { get; set; }

    private void HandleValidSubmit()
    {
        ParentEvent.AttendeeId = DbUser.Id;
        MeetupService.CreateEvent(ParentEvent);
        CreateEventAcc.UpdateCreated();

        TabControlAcc.ActivatePageByText("Date Range >>");
        TabControlAcc.EnableClickByString("Main >>");
        TabControlAcc.EnableClickByString("Date Range >>");
        StateHasChanged();
        IJSRunTime.CreateMessage("You've successfully created a new event.");
    }
}
