@page "/ServerPage/{serverId}"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
@using BlazorMeetup.Data


<h3>Sorted By Most Recent</h3>

<table>
    <thead>
        <tr>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event ev in Events)
        {
            <tr @onclick='() => GoToPage(ev.Id)'>
                <td>@ev.Description</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }

    [Parameter]
    public string serverId { get; set; }
    List<Event> Events = new();

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine("Servers " + DbUserId);
        Events = MeetupService.GetEventsByServerId(serverId);
        StateHasChanged();
    }

    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/ServerPage/" + id);
    }

}
