@inject MeetupService MeetupService
@inject TeamsUpdateService TeamsUpdateService
@implements IDisposable

<h3>ShowTeams</h3>
<div class="card" style="width: 18rem; min-height: 140px;">

    <div class=" card-header">
        Users
    </div>
    <ul class="list-group list-group-flush">
        @foreach (Attendee a in AttendeesWithoutTeams)
        {
            <li class="list-group-item">@a.UserName</li>
        }
    </ul>
</div>

@foreach (Team t in Teams)
{
    <div class="card" style=" width: 18rem; min-height: 140px; ">
        <div class="card-header">
            @t.Name
        </div>
        <ul class="list-group list-group-flush">
            @foreach (TeamAttendee ta in t.Attendees)
            {
                <li class="list-group-item">@ta.Attendee.UserName</li>
            }
        </ul>
    </div>
}

@code {
    [CascadingParameter]
    EventPage eventPage { get; set; }
    List<Team> Teams { get; set; }
    List<Attendee> AttendeesWithoutTeams { get; set; }

    Func<Task> myDelegate { get; set; }


    protected override void OnInitialized()
    {
        myDelegate = async () => await InvokeAsync(() => { this.UpdateTeamsWithMeetupService(); this.UpDateAttendeesWithoutTeams(); this.StateHasChanged(); Debug.WriteLine("Invookkked"); });
        TeamsUpdateService.AddEvent(eventPage.pageEvent.Id, myDelegate);

        UpdateTeamsWithMeetupService();
        UpDateAttendeesWithoutTeams();
        base.OnInitialized();
    }

    void UpDateAttendeesWithoutTeams()
    {
        AttendeesWithoutTeams = MeetupService.GetAttendeesWithoutTeams(eventPage.pageEvent.Id);
    }

    void UpdateTeamsWithMeetupService()
    {
        Teams = MeetupService.GetTeamsByEventId(eventPage.pageEvent.Id);
    }

    public void Dispose()
    {
        TeamsUpdateService.RemoveDelegate(eventPage.pageEvent.Id,myDelegate);
    }
}
