<CascadingValue Value="this" Name="Parent">
    <div class="divide-x-2 mb-2" role="group">
        @foreach (TabPage tabPage in Pages)
        {
            <button type="button" class="tab-button @GetButtonClass(tabPage)" @onclick=@Clickable(tabPage)>
                @tabPage.Text
            </button>
        }
    </div>
    @ChildContent
</CascadingValue>
@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    [Parameter]
    public Index IndexPageParameter { get; set; }

    public TabPage ActivePage { get; set; }

    public List<TabPage> Pages = new List<TabPage>();
    public void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();


    }

    string GetButtonClass(TabPage page)
    {
        //if (page.IsClickable == false) return "disabled-button bg-gray-700 text-gray-400";
        return page == ActivePage ? "bg-blue-700 text-blue-400" : "";
    }

    public void ActivatePage(TabPage page)
    {
        ActivePage = page;
        StateHasChanged();
    }

    public void EnableClickByString(string text)
    {
        TabPage page = Pages.FirstOrDefault(x => x.Text == text);
        if (page == null)
        {
            return;
        }
        page.IsClickable = true;
        StateHasChanged();
    }

    public void ActivatePageByText(string text)
    {
        TabPage page = Pages.FirstOrDefault(x => x.Text == text);
        ActivatePage(page);
    }

    public Action Clickable(TabPage tabPage)
    {

        if (tabPage.IsClickable)
        {
            return () =>
            {
                if (tabPage.Text != "Event" && IndexPageParameter != null)
                {
                    IndexPageParameter.SetEventId("");
                }

                ActivatePage(tabPage);
                StateHasChanged();
            };
        }
        else
        {
            return () =>
            {
                StateHasChanged();
            };
        }
    }
}
@*https://blazor-university.com/templating-components-with-renderfragements/creating-a-tabcontrol/*@