@page "/Users"
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
<h3>Users</h3>
<ul>
    @foreach (IdentityUser iu in AllUsers)
    {
        <li @key="iu.Id" @onclick="()=>GoToPage(iu.Id)">@iu.UserName</li>
    }
</ul>

@code {
    List<Attendee> AllUsers { get; set; }
    protected override void OnInitialized()
    {
        AllUsers = MeetupService.GetAllUsers();
    }
    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/UserEvents/" + id);
    }
}
