@page "/UserEvents/{id}"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@using BlazorMeetup.Data
@using Microsoft.AspNetCore.Identity
@using System.Diagnostics;

<h3>@DbUser.UserName Events</h3>
<ul>
    @foreach (Event e in events)
    {
        <li @onclick="() => GoToPage(e.Id)">@e.Description</li>
    }
</ul>


@code {
    List<Event> events = new();
    [Parameter]
    public string id { get; set; }
    IdentityUser DbUser { get; set; }

    protected async override Task OnInitializedAsync()
    {

        DbUser = await UserManager.FindByIdAsync(id);
        events = MeetupService.GetYourEvents(id);
    }

    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/EventPage/" + DbUser.Id  +"/"+ id);
    }
}
