@page "/YourServers"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject NavigationManager NavigationManager
@using BlazorMeetup.Data


<h3>Sorted By Most Recent</h3>

<table>
    <thead>
        <tr>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Server server in Servers)
        {
            <tr @onclick='() => GoToPage(server.Id)'>
                <td>@server.Name</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [CascadingParameter(Name = "DbUserId")]
    public string DbUserId { get; set; }
    List<Server> Servers = new();

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine("Servers " + DbUserId);
        Servers = MeetupService.GetServersByUserId(DbUserId);
        StateHasChanged();
    }

    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/ServerPage/" + id);
    }

}
