@page "/YourEvents"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@using BlazorMeetup.Data
@using Microsoft.AspNetCore.Identity
@using System.Diagnostics;

<h3>Your Events</h3>
<ul>
    @foreach (Event e in events)
    {
        <li @onclick="() => GoToPage(e.Id)">@e.Description</li>
    }
</ul>


@code 
{
    List<Event> events = new();
    IdentityUser Your { get; set;}

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Your = await UserManager.GetUserAsync(authState.User);
        events  = MeetupService.GetYourEvents(Your.Id);
    }

    void GoToPage(string id)
    {
        NavigationManager.NavigateTo("/EventPage/" +Your.Id + "/" +id);
    }
}
