@page "/YourEvents"
@attribute [Authorize]
@inject MeetupService MeetupService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> UserManager
@using BlazorMeetup.Data
@using Microsoft.AspNetCore.Identity
@using System.Diagnostics;

<h3>Your Events</h3>
<ul>
    @foreach(Event e in events)  
    {
        <li>@e.Description</li>
    }
</ul>

@code {
    List<Event> events = new();


    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Debug.WriteLine(UserManager.GetUserId(authState.User));
        events  = MeetupService.GetYourEvents(UserManager.GetUserId(authState.User));

    }
}
