<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form class="border-blue-100 bg-blue-300 text-blue-800 hover:border-blue-300 p-3" method="post"
            action="Identity/Account/LogOut">
            <button c type="submit">Log
                out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
