<AuthorizeView>
    <Authorized>
        <form class="flex justify-between w-full" method="post" action="Identity/Account/LogOut">
            <a href="Identity/Account/Manage/PersonalData">Hello, @context.User.Identity.Name!</a>
            <button type="submit">Log
                out</button>

        </form>
    </Authorized>
    <NotAuthorized>
        <button><a href="Identity/Account/Login">Log in with Discord</a></button>
    </NotAuthorized>
</AuthorizeView>
