<form class="flex justify-between w-full" method="post" action="Identity/Account/LogOut">
    <a href="Identity/Account/Manage/PersonalData"></a>
    <button type="submit">Log
        out</button>

</form>

<button><a href="Identity/Account/Login">Log in with Discord</a></button>
