@inherits LayoutComponentBase

<div class="flex container  p-0 h-screen">
    <div id="NavMenu-Div">
        <NavMenuRazorPages />
    </div>

    <div class="w-full h-full">
        <div class="flex justify-between flex-row-reverse align-middle p-3">
            <LoginDisplayRazorPages />
        </div>

        <div class="p-6 text-blue-600 w-full h-full" id="body">

        </div>
    </div>
</div>
