@inherits LayoutComponentBase

<div class="flex container p-0 h-screen">
    <div class="bg-gray-200">
        <NavMenu />
    </div>

    <div class="w-full h-full">
        <div class="flex justify-between align-middle p-3">
            <LoginDisplay />
        </div>

        <div class="p-6 text-blue-600 w-full h-full" id="body">
            @Body
        </div>
    </div>
</div>
