@inherits LayoutComponentBase

<div >
    <div >
        <NavMenu />
    </div>

    <div >
        <div >
            <LoginDisplay />
        </div>

        <div >
            @Body
        </div>
    </div>
</div>
