<div class="mb-1">
    <a href=>BlazorMeetup</a>
</div>

<div>
    <ul>
        <li class="navlink">
            <NavLink href="/">
                Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="navlink">
                    <NavLink href="CreateEvent">
                        Create Event
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="YourEvents">
                        Your Events
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="Users">
                        Users
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="UpcomingEvents">
                        Upcoming Events
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="AddAvatar">
                        Avatar Settings
                    </NavLink>
                </li>
            </Authorized>

        </AuthorizeView>
    </ul>
</div>

@code {

}
