<div id="application-name">
    <a href=>BlazorMeetup</a>
</div>

<div id="link-bar">
    <ul>
        <AuthorizeView>
            <Authorized>
                <li class="navlink">
                    <NavLink href="/CreateEvent">
                        Create Event
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="/YourEvents">
                        Your Events
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="/Users">
                        Users
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="/UpcomingEvents">
                        Upcoming Events
                    </NavLink>
                </li>
                <li class="navlink">
                    <NavLink href="/YourServers">
                        Your Servers
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {

}
