<div id="application-name">
    <a href=>BlazorMeetup</a>
</div>

<div id="link-bar" class="h-screen">
    <ul>
        <AuthorizeView>
            <Authorized>

            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {

}
